.footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: $darkGrey;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    align-items: center;
    min-height: 600px;
    position: relative;
    .products-list-1,
    .products-list-2,
    .products-list-3 {
        grid-column: 1/2;
        width: 100%;
        height: 200px;
        .title-list-footer {
            font-family: $fontPrimary;
            font-size: 13px;
            font-weight: bold;
            padding-bottom: 3px;
            outline: 1px #ffffff;
            cursor: default;
        }
        p {
            font-family: $fontPrimary;
            text-align: center;
            font-size: 10px;
            cursor: pointer;
        }
    }
    .media-icons {
        display: flex;
        width: 100%;
        justify-content: center;
        padding-top: 15px;
        height: 185px;
        a {
            width: 20%;
            padding: 0px;
            img {
                width: 50%;
            }
            ;
        }
    }
}

@media (min-width: 768px) {
    .footer {
        grid-template-columns: repeat(6, 1fr);
        min-height: 300px;
        padding-left: 30px;
        padding-right: 10px;
        .products-list-1,
        .products-list-2,
        .products-list-3 {
            p {
                font-family: $fontPrimary;
                font-size: 16px;
                text-align: start;
            }
        }
        .products-list-1 {
            grid-column: 2/3;
        }
        .products-list-2 {
            grid-column: 3/4;
        }
        .products-list-3 {
            grid-column: 4/5;
        }
        .media-icons {
            grid-column: 5/6;
            width: 100%;
            margin-top: 14px;
            height: 200px;
            a {
                width: 100%;
                img {
                    width: 50%;
                }
            }
        }
    }
}