// COLORS
$headerColor: #F5F5F5;
$aquamarine: #1DB779;
$darkGrey: #1E1E1E;
$lightGrey: #9B9B9B;
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@import "header.scss";
@import "home.scss";
@import "card.scss";
@import "footer.scss";