.header {
    background-color: $headerColor;
    @media (max-width: 768px) {
        .nav {
            .navbar {
                width: 100%;
                box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
            }
            .nav-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 62px;
            }
            .navbar .menu-items {
                display: flex;
            }
            .navbar .nav-container li {
                list-style: none;
            }
            .navbar .nav-container a {
                text-decoration: none;
                color: $aquamarine;
                font-weight: 500;
                font-size: 1.2rem;
                padding: 0.7rem;
            }
            .navbar .nav-container a:hover {
                font-weight: bolder;
            }
            .nav-container {
                display: block;
                position: relative;
                height: 60px;
            }
            .nav-container .checkbox {
                position: absolute;
                display: block;
                height: 32px;
                width: 32px;
                top: 20px;
                right: 15px;
                z-index: 5;
                opacity: 0;
                cursor: pointer;
            }
            .nav-container .hamburger-lines {
                display: block;
                height: 26px;
                width: 32px;
                position: absolute;
                top: 17px;
                right: 15px;
                z-index: 2;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            .nav-container .hamburger-lines .line {
                display: block;
                height: 4px;
                width: 100%;
                border-radius: 10px;
                background: #0e2431;
            }
            .nav-container .hamburger-lines .line1 {
                transform-origin: 0% 0%;
                transition: transform 0.4s ease-in-out;
            }
            .nav-container .hamburger-lines .line2 {
                transition: transform 0.2s ease-in-out;
            }
            .nav-container .hamburger-lines .line3 {
                transform-origin: 0% 100%;
                transition: transform 0.4s ease-in-out;
            }
            .navbar .menu-items {
                padding-top: 120px;
                background-color: $headerColor;
                height: 100vh;
                width: 100%;
                transform: translate(150%);
                display: flex;
                flex-direction: column;
                margin-right: -40px;
                padding-right: 50px;
                transition: transform 0.5s ease-in-out;
                text-align: center;
                z-index: 1;
                position: relative;
            }
            .navbar .menu-items li {
                margin-bottom: 1.2rem;
                font-size: 1.5rem;
                font-weight: 500;
            }
            .nav-container input[type="checkbox"]:checked~.menu-items {
                transform: translateX(0);
            }
            .nav-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
                transform: rotate(45deg);
            }
            .nav-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
                transform: scaleY(0);
            }
            .nav-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
                transform: rotate(-45deg);
            }
            .search {
                display: none;
            }
            .btn-cart {
                display: none;
            }
            .search-mobile {
                display: flex;
                justify-content: center;
                margin-top: 20px;
                input {
                    padding-left: 40px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
                .search-container {
                    position: relative;
                    .nav-icon-search {
                        position: absolute;
                        top: 7px;
                        left: 0px;
                        border: none;
                        background-color: transparent;
                        .search-icon {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
            .logo {
                position: absolute;
                top: 0px;
            }
            .menu-categories {
                ul {
                    list-style: none;
                    background-color: $aquamarine;
                    padding: 0px;
                    padding-top: 5px;
                    li {
                        width: 100%;
                        text-align: center;
                        padding-top: 5px;
                        padding-bottom: 6px;
                        border-bottom: 1px solid #009d5e;
                        a {
                            text-decoration: none;
                            color: #ffffff;
                        }
                    }
                }
            }
        }
    }
    @media (min-width: 769px) {
        height: 100px;
        .navbar {
            .nav-container {
                display: flex;
                justify-content: space-around;
                .checkbox,
                .hamburger-lines {
                    display: none;
                }
                .menu-items {
                    display: flex;
                    li {
                        list-style: none;
                        padding-right: 10px;
                        a {
                            text-decoration: none;
                            color: $aquamarine;
                        }
                    }
                }
            }
            .logo {
                img {
                    padding: 10px;
                    // background-color: #D1D3D4;
                }
            }
            .search-mobile {
                display: none;
            }
            .menu-desk-container {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                width: 100%;
                .search {
                    display: block;
                    width: 105%;
                    .search-container {
                        .nav-icon-search {
                            background-color: transparent;
                            border: none;
                            position: relative;
                            left: 31px;
                            .search-icon {
                                width: 19px;
                                position: relative;
                                left: 0px;
                                top: 4px;
                            }
                        }
                        .input-search {
                            padding: 10px;
                            padding-left: 34px;
                            width: 54%;
                        }
                    }
                }
                .btn-cart {
                    width: 250px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: black;
                    border: none;
                    color: white;
                    position: absolute;
                    top: 22px;
                    img {
                        width: 20px;
                    }
                    p {
                        margin: 10px;
                    }
                }
            }
        }
        .menu-categories {
            ul {
                display: flex;
                width: 100%;
                flex-direction: row;
                list-style: none;
                background-color: #1DB779;
                padding: 0px;
                padding-top: 5px;
                padding-bottom: 5px;
                position: relative;
                margin: 0px;
                bottom: 5px;
                li {
                    width: 100%;
                    text-align: center;
                    padding-top: 5px;
                    padding-bottom: 6px;
                    a {
                        text-decoration: none;
                        color: #ffffff;
                    }
                }
            }
        }
    }
}